body{
   background-color: rgb(3, 110, 129);
   font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   background-image:url(https://www.hdwallpapers.in/download/beautiful_blue_space_starry_sky_dark_background_galaxy_4k_hd_space-1920x1080.jpg);
   background-repeat: no-repeat;
   background-size:100%;
}
   /* Estilo para links */
a {
   text-decoration: none;
   color: rgba(152, 243, 255, 0.753);
   transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
   color:rgba(6, 98, 114, 0.753) ; /* Cor do link ao passar o mouse */
   text-decoration: underline;
}

/* Estilo para o menu */
.menu ul {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   padding: 0;
   margin: 0;
   list-style: none;
}

.menu li {
   margin: 0 15px; /* Espaço entre os itens do menu */
}

/* Estilo para o cabeçalho */
.cabecalho {
   background-color: #049da8; /* Cor de fundo suave */
   border-radius: 15px;
   padding: 20px; /* Espaçamento interno */
   box-shadow: 0 10px 16px  rgb(25, 140, 168); /* Sombra suave */
   margin-bottom: 20px; /* Espaço abaixo do cabeçalho */
}
.Autobiografia{
   color:rgb(159, 244, 247);
}

.bio{
   color:white;
   display: center;
   margin-left: 250px;
   margin-right: 250px;
}

label{
   color: aliceblue;
   display: center;
}

h1{
   color: aliceblue;
   display: center;
}

form{
   display: flex;
   flex-direction: column;
   gap: 3px;
}

fieldset{
   display: flex;
}
.tutorial{
   display: flex;
   justify-content:center ;
}

.texto-tutorial{
   text-align: center;
}